.thumbnail {
    width: 80px;
    height: 80px;
    background-size: cover;
    background-position: bottom;
}

.table td {
    vertical-align: inherit;
}

.table {
    background-color: #fff;
}

img#shopping-cart-icon {
    vertical-align: text-top;
}